body{
    background-color: white;
    background: url(../images/fondo1.jpg);
    width: 100%;
}
#container-login{
    height: 250px;
    min-height: 250px;
    width: 30%;
    background: white;
    float: left;
    margin-left: 35%;
    margin-top: 6%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #000000;
 }
#header-container{
    height: 20%;
    width: 100%;
    background: #00112d;
    border-radius: 5px;
    float: left;
    color: white;
    text-align: center;
}
#header-container h3{
     margin: auto;
     font-weight: bold;
     margin-top: 2%;
 }
#form{
    height: 80%;
    width: 100%;
    margin-top: 15%;
}
#exit-ul:hover{
    background-color: black;
}
#left-menu{
     width: 16%;
     height: 30%;
     background: #ffffff;
     float: left;
     margin-top: 5%;
     margin-left: 2%;
     padding: 1%;
     border-radius: 8px;
     min-width: 150px;
 }
#container{
     float: left;
     margin-top: 3%;
     height: 600px;
     
 }
 #table-obra{
     font-weight: bold;
     
 }
 #workerState{
     display: none;
 }
 .modal-back{
     height: 100%;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.6);
     display: none;
 }
 #tdObra{
     font-style: 20px;
 }
 .ccCont{
     width: 20%;
     margin: auto;
     
 }
  .sfCont{
     width: 20%;
     margin: auto;
     margin-top: -5%;
 }
 #modalWorkerD{
    width: 700px;
 }
 .jumbotron p{
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 0;
    margin-bottom: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
 }
 .ptdd{
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 0;
    margin-bottom: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}
 .tdReg{
    min-height: 30px;
    max-height: 30px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
 }
 .top-p{
    margin-top: -8%;
 }
 .bot-p{
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
 }
 /*********************************estilo menu***********************************/
.left-menu{
    width: 22%;
    min-width: 200px;
    float: left;
    margin-top: 70px;
}
.left-menu .dropmenu{
    width: 100%;
}
.left-menu ul{
    list-style: none;
}
.left-menu .dropmenu li a{
    color: white;
    display: block;
    padding: 15px 20px;
    background-color: #212121;
    text-decoration: none;
    text-align: center;
}
.left-menu .dropmenu li a:hover{
    background-color: #00695c;
}
.left-menu .dropmenu ul{
    display: none;
}
.left-menu .dropmenu .activated > a{
    background-color: #00695c;
}
/************************************************/
.passTl {
    text-align: center;
    margin-top: -2%;
    background-color: rgb(237, 226, 14);
    color: black;
    padding: 1%;
    border: 2px solid black;
    font-weight: bold;
}
#ecspanE, #ecspanS, #ecspanE2, #ecspanS2 {
    display: none;
}
#tobrasc{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
#tworkerc{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
#tobrac{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}